@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

body, html {
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: #333;
  background: #F7F7F7;
}

::selection{
	background-color: #0d5ffd;
  }
  
  ::-webkit-scrollbar{
	width: 6px;
    border-radius: 50px;
	background-color: whitesmoke;
  }
  
  ::-webkit-scrollbar-thumb{
	background-color: #0d5ffd;
  }

  .mobile{
    display: none;
  }
.container-fluid{
  display: none;
}

.center {
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% + 12rem);
  transform: translate(-50%, -50%);
}

.pic {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.contact {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 5rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .pic {
  position: absolute;
  left: 0;
}
.contact .name {
  font-weight: 500;
  margin-bottom: 0.125rem;
}
.contact .message, .contact .seen {
  font-size: 0.9rem;
  color: #999;
}
.contact .badge {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center!important;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  top: 0;
  left: 2.5rem;
  background: #333;
  color: white;
}

.contacts {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-6rem, -50%);
  width: 24rem;
  height: 42rem;
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  transition: transform 500ms;
}
.contacts h2 {
  margin: 0.5rem 0 1.5rem 5rem;
}

.contacts h2 i {
	font-size: 1.5rem;
	/* margin-right: 1rem; */
	margin-left: 3rem;
	color: #666;
	cursor: pointer;
	transition: color 200ms;
  }

  .contacts h2 i:hover {
	color: #333;
  }

.contacts .fa-bars {
  position: absolute;
  left: 2.25rem;
  color: #999;
  transition: color 200ms;
}
.contacts .fa-bars:hover {
  color: #666;
}
.contacts .contact:last-child {
  margin: 0;
}
.contacts:hover {
  transform: translate(-23rem, -50%);
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70rem;
  height: 45rem;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}
.chat .contact.bar {
  flex-basis: 3.5rem;
  flex-shrink: 0;
  margin: 1rem;
  box-sizing: border-box;
}
.chat .messages {
  padding: 1rem;
  background: #F7F7F7;
  flex-shrink: 2;
  height: 80%;
  overflow-y: auto;
  box-shadow: inset 0 2rem 2rem -2rem #0000000d, inset 0 -2rem 2rem -2rem #0000000d;
}
.chat .messages .time {
  font-size: 0.8rem;
  background: #EEE;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.chat .messages .message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #FFF;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
.chat .messages .message.p {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
}
.chat .messages .message .typing {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
}
.chat .messages .message .typing.typing-1 {
  -webkit-animation: typing 3s infinite;
          animation: typing 3s infinite;
}
.chat .messages .message .typing.typing-2 {
  -webkit-animation: typing 3s 250ms infinite;
          animation: typing 3s 250ms infinite;
}
.chat .messages .message .typing.typing-3 {
  -webkit-animation: typing 3s 500ms infinite;
          animation: typing 3s 500ms infinite;
}
.chat .input {
  box-sizing: border-box;
  flex-basis: 4rem;
  background-color: #ddd;
  border-bottom-left-radius:  1rem;
  border-bottom-right-radius: 1rem ;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1.5rem;
}
.chat .input i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #666;
  cursor: pointer;
  transition: color 200ms;
}
.chat .input i:hover {
  color: #333;
}
.chat .name i {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 54rem;
  color: #666;
  cursor: pointer;
  transition: color 200ms;
}
.chat .name i:hover {
  color: #333;
}

.chat .input input {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  flex-grow: 2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  word-wrap: break-word;
}
.chat .input input:placeholder {
  color: #999;
}

@-webkit-keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
.pic.p2 {
  background-image: url("../assets/5953.JPG");
}

.pic.p3 {
  background-image: url("../assets/5953.JPG");
}

.pic.p5 {
  background-image: url("../assets/5953.JPG");
}

.pic.p6 {
  background-image: url("../assets/5953.JPG");
}

.pic.p1 {
  background-image: url("../assets/5953.JPG");
}



@media only screen and (max-width: 980px){
  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-size: 16px;
    background-color: rgb(245, 243, 247);
    font-family: 'Rubik', sans-serif;
  }

  .center {
    display: none;
  }

  .mobile{
    display: block;
    width: 100%;
    height: 100vh;
  }
  .header{
    width: 100%;
    position: fixed;
    height: 90px;
    background: linear-gradient(to right, #7a28f7,#e942ff);
    border-radius: 0px 0px 20px 20px;
  }
  .desc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
  }
  .chevron{
    position: relative;
    margin-top: 0px;
    margin-right: 15px;
    opacity: 0.8;
  }
  .chevron::before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0px;
    width: 3px;
    height: 9px;
    background-color: #fff;
    transform: skew(-28deg,0deg);
  }
  .chevron::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 9px;
    background-color: #fff;
    transform: skew(28deg,0deg);
  }
  .avtar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 2px;
    border: 2px solid #fff;
  }
  .name{
    color: #fff;
    margin-top: -4px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
  }
  .status{
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
  }
  .dots{
    right: 20px;
    position: absolute;
    width: 4px;
    height: 4px;
    margin-left: 280px;
    background-color: #fff;
    border-radius: 50%;
  }
  .dots::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: -6px;
    left: 0px;
    background-color: #fff;
    border-radius: 50%;
  }
  .dots::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 6px;
    left: 0px;
    background-color: #fff;
    border-radius: 50%;
  }
  .messages{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px;
    font-size: 12px;
    border-radius: 10px 10px 20px 20px;
  }
  .text{
    margin-top: 25%;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(13, 39, 80, 0.25), -4px -4px 12px white !important;
  }
  .reply{
    background-color: hsl(206, 6%, 79%);
    max-width: 60%;
    margin-bottom: 8px;
    padding: 8px 10px 8px 12px;
    border-bottom-left-radius: 0px;
    color: #8e41c8;
    margin-left: 4px;
    box-shadow: 4px 4px 12px rgba(13, 39, 80, 0.25), -4px -4px 12px white !important;
  }
  .pics{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .pics img{
    width: 72px;
    padding: 5px 7px;
    border-radius: 25%;
    cursor: pointer;
  }
  .user{
    max-width: 60%;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    margin-left: 120px;
    color: hsl(271, 15%, 43%);
    background-color: #fff;
    padding: 10px;
    border-bottom-right-radius: 0;
    margin-top: 7px;
    margin-right: 5px;
    box-shadow: 0 10px 20px hsl(206, 6%, 79%);
  
  }
  .user1{
    margin-left: auto;
    margin-bottom: 7px;
  }
  .offer{
    max-width: 65%;
    background: linear-gradient(to right, rgb(233, 66, 255), rgb(136, 56, 255));
    padding: 2px 25px 2px 13px;
    box-shadow: 4px 4px 12px rgba(13, 39, 80, 0.25), -4px -4px 12px white !important;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    margin-bottom: 8px;
    margin-left: 4px;
    height: 44px;
  }

  .offer i{
    font-size: 20px;
  }
  .offer p{
    margin-left: -12px;
    opacity: 0.8;
  }
  .offer span{
    font-size: 20px;
    font-weight: 700;
  }
  .hour{
    margin-left: -32px !important;
  }
  form{
    bottom: 15px;
    position: fixed;
    display: inline-flex;
  }
  input{
    width: 100%;
    padding: 18px 25px 15px;
    position: fixed;
    border-radius: 35px;
    border: 1px solid hsl(270, 20%, 96%);
    opacity: 0.8;
    box-shadow: inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%);
  
  }
  input:focus{
    outline: none;
  }
  .arrow{
    font-size: 20px;
    color: #333;
    border-radius: 50%;
    padding: 0px 11px;
    height: 36px;
    margin-left: 88vw;
    margin-top: 20px;
    z-index: 100;
    cursor: pointer;
  }
  


 }