@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

body, html {
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: #333;
  background: #F7F7F7;
}

.container-fluid{
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: calc(50% + 12rem);
  transform: translate(-50%, -50%);
}

.pic {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.contact {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 5rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .pic {
  position: absolute;
  left: 0;
}
.contact .name {
  font-weight: 500;
  margin-bottom: 0.125rem;
}
.contact .message, .contact .seen {
  font-size: 0.9rem;
  color: #999;
}
.contact .badge {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center!important;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  top: 0;
  left: 2.5rem;
  background: #333;
  color: white;
}

.contacts {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-6rem, -50%);
  width: 24rem;
  height: 42rem;
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  transition: transform 500ms;
}
.contacts h2 {
  margin: 0.5rem 0 1.5rem 5rem;
}

.contacts h2 i {
	font-size: 1.5rem;
	/* margin-right: 1rem; */
	margin-left: 3rem;
	color: #666;
	cursor: pointer;
	transition: color 200ms;
  }

  .contacts h2 i:hover {
	color: #333;
  }

.contacts .fa-bars {
  position: absolute;
  left: 2.25rem;
  color: #999;
  transition: color 200ms;
}
.contacts .fa-bars:hover {
  color: #666;
}
.contacts .contact:last-child {
  margin: 0;
}
.contacts:hover {
  transform: translate(-23rem, -50%);
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70rem;
  height: 45rem;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}
.chat .contact.bar {
  flex-basis: 3.5rem;
  flex-shrink: 0;
  margin: 1rem;
  box-sizing: border-box;
}
.chat .messages {
  padding: 1rem;
  background: #F7F7F7;
  flex-shrink: 2;
  height: 80%;
  overflow-y: auto;
  box-shadow: inset 0 2rem 2rem -2rem #0000000d, inset 0 -2rem 2rem -2rem #0000000d;
}
.chat .messages .time {
  font-size: 0.8rem;
  background: #EEE;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.chat .messages .message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #FFF;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
.chat .messages .message.p {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
}
.chat .messages .message .typing {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
}
.chat .messages .message .typing.typing-1 {
  -webkit-animation: typing 3s infinite;
          animation: typing 3s infinite;
}
.chat .messages .message .typing.typing-2 {
  -webkit-animation: typing 3s 250ms infinite;
          animation: typing 3s 250ms infinite;
}
.chat .messages .message .typing.typing-3 {
  -webkit-animation: typing 3s 500ms infinite;
          animation: typing 3s 500ms infinite;
}
.chat .input {
  box-sizing: border-box;
  flex-basis: 4rem;
  background-color: #ddd;
  border-bottom-left-radius:  1rem;
  border-bottom-right-radius: 1rem ;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1.5rem;
}
.chat .input i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #666;
  cursor: pointer;
  transition: color 200ms;
}
.chat .input i:hover {
  color: #333;
}
.chat .name i {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 54rem;
  color: #666;
  cursor: pointer;
  transition: color 200ms;
}
.chat .name i:hover {
  color: #333;
}

.chat .input input {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  flex-grow: 2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  word-wrap: break-word;
}
.chat .input input:placeholder {
  color: #999;
}

@-webkit-keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
.pic.p2 {
  background-image: url("../assets/5953.JPG");
}

.pic.p3 {
  background-image: url("../assets/5953.JPG");
}

.pic.p5 {
  background-image: url("../assets/5953.JPG");
}

.pic.p6 {
  background-image: url("../assets/5953.JPG");
}

.pic.p1 {
  background-image: url("../assets/5953.JPG");
}



@media only screen and (max-width: 980px){
  .center{
    display: none;
  }
  .container-fluid{
    display: block;
  }
  body{
	background: #f3f6fd;
	font-family: Roboto;
}

#mca_app{
	padding-left: 50px;
	padding-top: 20px;
	overflow-x: hidden;
}

#mca_app > section{
	padding-top: 20px;
	padding-bottom: 0;
}

#mca_side_bar{
	position: fixed;
	height: 100%;
	width: 75px;
	background: #333;
	left: 0;
	top: 0;
	text-align: center;
}

#mca_side_bar .chat_profile{
	height: 15%;
	padding-top: 10px;
}

.chat_profile img{
	height: 50px;
	border-radius: 50%;
	background: #f3f6fd;
	padding: 3px;
	margin-bottom: 5px;
}

.chat_profile > span{
	font-size: 14px;
	font-weight: 400;
	color: #eee;
}

#mca_side_bar .chat_menu{
	height: 75%;
}

.chat_menu ul{
	position: relative;
	padding: 0;
}

.chat_menu ul li{
	position: relative;
	list-style: none;
	font-size: 17px;
	color: #f3f6fd99;
	padding: 10px;
	margin-bottom: 15px;
}

.chat_menu ul li.active{
	background-color: #00000021;
	color: #fff;
	border-radius: 18px;
}

.chat_menu ul li.active:before{
	position: absolute;
	display: block;
	content: '';
	height: 8px;
	width: 8px;
	background-color: #fe6491;
	border: none;
	border-radius: 50%;
	right: 0;
	bottom: 3px;
}

#mca_side_bar .chat_bar{
	height: 10%;
	padding-top: 10px;
	font-size: 17px;
	color: rgba(243,246,253,0.6);
}

#mca_header_bar{
	position: fixed;
	padding-left: 45px;
}

#mca_header_bar div.col-8 i{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}

span.name{
	font-size: 17px;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
	letter-spacing: 0.5px;
	margin-left: 15px;
}

#mca_header_bar div.col-4 span{
	position: absolute;
	bottom: -5px;
}

#mca_header_bar div.col-4 span i{
	height: 35px;
	width: 35px;
	background: #333;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border: none;
	box-shadow: 0 0 4px 5px rgba(75,134,250,0.1);
}

#mca_body{
	position: fixed;
	background: #fff;
	height: 100%;
	width: calc(100% - 75.5px);
	top: 12%;
	right: 0;
}

#mca_body ul{
	padding: 0;
}

#mca_body ul li{
	list-style: none;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 35px;
}

#mca_body ul li:first-child{
	margin-bottom: 30px;
}

#mca_body ul li:nth-child(even) span{
	background-color: #f3f6fd;
	color: rgba(0,0,0,0.5);
	padding: 13px 20px;
	border-radius: 25px;
}

#mca_body ul li:nth-child(odd) span{
	background-color: #669cfe;
	color: #fff;
	padding: 13px 20px;
	border-radius: 25px;
}

#mca_body ul li:nth-child(even){
	text-align: left;
}

#mca_body ul li:nth-child(odd){
	text-align: right;
}

#mca_body ul li:nth-child(1){
	text-align: center;
}

#mca_body ul li:nth-child(1) span{
	background-color: transparent;
	color: rgba(0,0,0,0.25);
	font-size: 12px;
	padding: 0;
}

#mca_body ul li:nth-child(4) span{
	color: #669cfe;
	font-size: 7px;
	padding: 16px 20px;
}

#mca_body ul li:nth-child(4) span i:first-child{
	color: rgba(0,0,0,0.5);
}

#mca_body ul li:nth-child(4) span i:nth-child(2){
	padding-left: 3px;
	padding-right: 3px;
}

#mca_footer{
	position: fixed;
	bottom: 30px;
}

.mca_input_row{
	position: relative;
}

.mca_input_row .mca_ip{
	width: 80%;
	padding: 13px 0 13px 20px;
	border: none;
	border-radius: 25px;
	background-color: #f3f6fd;
	font-size: 13px;
	font-weight: 300;
	margin-left: 6%;
}

.mca_input_row .fa-paper-plane{
	position: absolute;
	color: #669cfe;
	font-size: 15px;
	top: 15px;
	right: 22%;
}

 }