@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";

  background-color: #eff4ff;
}

::selection {
  background-color: #0d5ffd;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background-color: #0d5ffd;
}

.top {
  color: #1e1f22;
  text-align: center;
  font-size: 50px;
  top: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  background-color: #eff4ff;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #FFFA;
  color: #1e1f22;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content img {
  width: 80px;
  height: 80px;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #555;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #555;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline-content .date {
    position: absolute;
    font-weight: 500;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: #0d5ffd;
  }
}