/* box */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

* {
  box-sizing: border-box;
  font: normal 500 15px/2px var(--roboto);
  user-zoom: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}

::selection {
  background-color: #0d5ffd;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: #0d5ffd;
}

body {
  /* background-image: url("../assets/abstract2.png") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important; */
  background-color: #eff4ff !important;
  color: #555 !important;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  border-radius: 10px;
  box-shadow: 0 5px 10px #d8d8d8;
  padding: 100px;
  margin: auto;
  width: 100%;
  margin-top: 1%;
  padding: 20px;
}

.user {
  margin-left: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.user i {
  background-color: #0d5ffd;
  color: #ffffff;
  font-size: inherit;
  padding: 10px;
  border-radius: 50%;
}

.search-area {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.search-area .search form input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ddd;
  border: none;
  height: 50px;
  border-color: transparent;
  padding: 10px;
  font-size: 17px;
  color: #000000;
  float: right;
  width: 80%;
}

.search-area .search form button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #0d5ffd;
  border: none;
  border-color: transparent !important;
  float: right;
  width: 20%;
  height: 50px;
  padding: 10px;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
}

.box input[type="submit"] {
  box-shadow: -5px -5px 10px rgb(255 255 255), 5px 5px 10px rgb(129 154 181 / 43%);
  font-weight: 600;
  margin-top: 20px;
  border: 2px solid #0d5ffd;
}

.box input {
  background: #eff4ff;
  border: none;
  border-radius: 0px;
  box-shadow: inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%);
  color: #0d5ffd;
  font-size: 18px;
  height: 45px;
  outline: none;
  padding: 5px 15px;
  width: 100%;
}

.search-area .filter button {
  border-radius: 5px;
  height: 50px;
  background-color: transparent;
  color: #00000099;
  padding: 10px 20px;
  box-shadow: inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%);
  border-color: #00000099;
  font-size: 17px;
  cursor: pointer;
}

.search-area .filter button:hover {
  background-color: #0d5ffd;
  color: #ffffff;
  border-color: #ffffff;
}

.ui.text.container {
  max-width: 800px !important;
}

.ui.upward.dropdown>.menu {
  bottom: -550% !important;
}

.ui.inverted.menu {
  background: #444 !important;
}

.ui.inverted.list .list>.item .header,
.ui.inverted.list>.item .header {
  color: #222 !important;
}

.ui.inverted.list .list>.item .description,
.ui.inverted.list>.item .description {
  color: #00000099 !important;
}

.ui.list .list>.item>i.icon,
.ui.list>.item>i.icon {
  display: table-cell;
  margin: 0;
  color: #e20505;
  padding-top: .07142857em;
  padding-right: .28571429em;
  vertical-align: top;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.ui.list .list>.item>i.icon,
.ui.list>.item>i.fa-file-alt {
  display: table-cell;
  margin: 0;
  color: #3879fc;
  padding-top: .07142857em;
  padding-right: .28571429em;
  vertical-align: top;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  border-color: transparent !important;
  background: #ffffff9c !important;
  /* background-image: url("../assets/notes.png") !important;
  background-repeat: no-repeat !important; */
  /* background-attachment: fixed !important; */
  /* background-position-y: 50% !important;
  background-position-x: 50% !important;
  background-size: contain !important; */
}

.ui.tiny.button,
.ui.tiny.buttons .button,
.ui.tiny.buttons .or {
  margin: 5px;
}

.ui.steps .step.active {
  cursor: auto;
  background: #f3f4f5;
}

.ui.ordered.steps {
  background-color: #f3f4f5;
  margin-left: -2%;
  width: 104%;
}

.ui.modal {
  text-align: center !important;
}

.ui.modal>.actions {
  text-align: center !important;
}

.ui.modal>.content {
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5rem;
  background: #eff4ff;
  border: none;
  text-align: left !important;
  box-shadow: inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%);
}

.ui.ordered.steps .step:before {
  display: none !important;
  position: static;
  text-align: center;
  content: counters(ordered, ".");
  -webkit-align-self: middle;
  -ms-flex-item-align: middle;
  align-self: middle;
  margin-right: 1rem;
  font-size: 2.5em;
  counter-increment: ordered;
  font-family: inherit;
  font-weight: 700;
}

table {
  border-radius: 50px;
  color: #000000;
  padding: 10px;
  width: 100%;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  line-height: 15px;
}

table tbody tr {
  background-color: #dadada;
}

table tbody tr:hover {
  background-color: #b4cbf8;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

table tbody tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tbody tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

table tbody tr.priority-200 td:first-of-type {
  border-left: 5px solid #9c7c64;
}

table tbody tr.priority-300 td:first-of-type {
  border-left: 5px solid #5c8cdc;
}

table tbody tr.priority-600 td:first-of-type {
  border-left: 5px solid #40c587;
}

table tbody tr td .fa-circle {
  transform: scale(0.5);
}

table tbody tr.priority-200 td .fa-circle {
  color: #9c7c64;
}

table tbody tr.priority-300 td .fa-circle {
  color: #5c8cdc;
}

table tbody tr.priority-600 td .fa-circle {
  color: #40c587;
}

.delete {
  cursor: pointer;
  background-color: #23283b;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px;
  opacity: 0;
}

table tbody tr:hover .delete {
  opacity: 1;
}

.add-btn {
  cursor: pointer;
  float: right;
  padding: 15px;
  font-size: 17px;
  margin-top: 15px;
  margin-right: 10px;
  background-color: #0d5ffd;
  background-image: linear-gradient(326deg, #0d5ffd 0%, #5e8ff1 74%);
  color: #fff;
  border: none;
  border-radius: 50%;
}

.add-btn i {
  color: #ffffffcf;
}

.add-btn i:hover {
  color: #2d292d82;
}

@media (max-width: 790px) {
  .container {
    padding: 20px;
  }

  table tbody tr .delete {
    opacity: 1;
  }

  table th:nth-of-type(3),
  table td:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 350px) {
  .search-area .filter button {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 310px) {

  .search-area {
    margin-left: -23%;
  }

  .search-area .filter button {
    margin-left: -50%;
  }

  .search-area .search form input {
    width: 50%;
  }

  .ui.attached.menu {
    max-width: calc(80% + 2px) !important;
  }

  .ui.attached.segment {
    max-width: calc(80% + 2px) !important;
  }

}